

body{
    background-color: brown;
}

/* *{
    margin: 0;
    padding: 0;
  }
   */
  .immagine {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
  }
  
  h2 {
    text-align: center;
    line-height: 100vh;
    color: white;
  }
  
  .immagine.natura {
    background-image: url('https://cdn.pixabay.com/photo/2020/10/24/06/04/stream-5680609_1280.jpg');
  }
  
  .immagine.paesaggio {
    background-image: url('https://cdn.pixabay.com/photo/2020/10/28/11/08/castle-5693094_1280.jpg');
  }
  
  .testo {
    width: 100%;
    font-size: 22px;
    padding: 20px;
  }

  .height-100{
      height: 100vh;

  }